p, a, h1, h2{
    font-family: verdana;
    text-decoration: none;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#corpo{
    width: auto;
    height: auto;
    background-color: white;
    background-image: url(img/back.jpg);
    background-repeat: no-repeat;  
    background-position: center;   
    background-size: cover;
    background-attachment: fixed;
}
#cabecalho{
    width: 1920px;
    height: 100px;
    position: fixed;
    display: block;
    background-color: #1c1c1c;
}
#divisaoEsquerda{
    width: 20%;
    height: inherit;
    float: left;
    text-align: right;
}

#divisaoEsquerda img{ 
    width: 35%;
    height: 100px;
}

#divisaoCentro{
    width: 60%;
    height: inherit;
    float: left;
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
    color: white;
}

#divisaoDireita{
    width: 20%;
    height: inherit;
    float: left;
    text-align: left;
}

#opcaoEstilos{
    width: 1920px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 100px;
    position: fixed;
    margin-top: 100px;
    background-color: black;
}

.opcoes{
    width: 11%;
    height: 60px;
    float: left;
    margin-left: 8px;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: white;
}

#conteudo{
    width: 1500px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-top: 200px;
    background-color: white;
}

#conteudo h1{
    margin-left: 50px;
}

#caixasPesquisas{
    width: 70%;
    height: 350px;
    float: left;
}

.camposPesquisas p{
    font-size: 24px;
}

input{
    width: 350px;
    height: 45px;
    font-size: 24px;
}
button{
    width: 35px;
    height: 35px;
}
.camposPesquisas{
    width: 40%;
    height: 50px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
}


#imgArtista{
    width: 25%;
    height: 300px;
    float: right;
    margin-right: 70px;
    margin-bottom: 50px;
    background-color: black;
}

#imgArtista img{
    width: 100%;
    height: inherit;
}


#respostas{
    width: 1500px;
    height: 550px;
    clear: both;
    background-color: white;
}

#respostas2{
    width: 1500px;
    height: auto;
}

.ladosRespostas{
    width: 350px;
    height: auto;
    float: left;
    margin-left: 110px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px black
}

.ladosRespostas p{
    font-size: 22px;
}

.resultadoFinalPesquisa{
    width: inherit;
    height: auto;
    padding-left: 25px;
    padding-top: 25px;
}

.resultadoFinalPesquisa input{
    width: 300px;
    height: 40px;
}

.resultadoFinalPesquisa input:focus{
    border: 0;
    outline: none !important;
}
















#rodape{
    width: 1900px;
    height: 100px;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-left: 260px;
    padding-top: 20px;
    background-color: black;
    
}
.redesSociais{
    width: 10%;
    height: 60px;
    float: left;
    margin-left: 30px;
    padding-top: 10px;
    border-radius: 30px;
    background-color: #1c1c1c;
}

.redesSociais img{
    width: 25%;
    height: 40px;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
    border-radius: 20px;

}
.redesSociais p{
    padding-top: 10px;
}
.redesSociais a{
    color: white;
}

a:hover{
    color: #8be615;
    transition: 0.3s;
}

